# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Workshop data that should not be saved in git
data/emit

# NOTE: will need to add more as we develop the code
